<footer class="footer"> 
  <small> 
	Por: WILLIAM ROJAS. Todos los derechos reservados © 2015 ::. 
  </small> 
  <nav> 
<<<<<<< HEAD
	<ul>  
=======
	<ul>   
>>>>>>> b19f0cd07a5572d5f7bfe5e233b9c95b72c2622e
		<li><a href="http://www.fiestaycumbia.comyr.com/">Fiesta y Cumbia</a></li> 
	</ul> 
  </nav> 
</footer>