<footer class="footer"> 
  <small> 
	Por: WILLIAM ROJAS. Todos los derechos reservados © 2015 ::. 
  </small> 
  <nav> 
	<ul>  
		<li><%= link_to "Créditos" %></li> 
		<br> 
		<li><a href="http://www.fiestaycumbia.comyr.com/">Fiesta y Cumbia</a></li> 
	</ul> 
  </nav> 
</footer>